
.sidebar {
  width: 250px;
  background-color: #323233;
  color: white;
  height:65vh;
  margin: 70px 0 0 0;
  border-radius: 10px;
}

.sidebar h2 {
  background-color: #3b3b3b;
  padding: 8px 30px;
  border-radius: 10px 10px 0 0;

}

.sidebar ul {
  list-style: none;
  padding: 0;

}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  margin: 15px 10px 0 20px;

}

.sidebar ul li a:hover {
  background-color: #615f5f;
  padding: 8px 30px;
  margin: 0;
}