.recuperar-senha-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Mantém a mesma altura que o cabeçalho do login */
}

.recuperar-senha-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffff; /* Cor do texto */
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 5px 20px 10px rgba(5, 5, 5, 0.5);
  width: 450px; /* Largura da caixa do formulário */
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  color: #ffff; /* Cor do texto do rótulo */
  font-size: 16pt; /* Tamanho da fonte do rótulo */
}

input {
  width: 350px; /* Largura dos campos de entrada */
  padding: 10px;
  margin-bottom: 25px; /* Espaço entre os campos */
  border: 1px solid #ccc; /* Borda dos campos */
  border-radius: 5px; /* Cantos arredondados */
  outline: none; /* Remove a borda padrão ao focar */
  font-size: 14pt; /* Tamanho da fonte */
}

button {
  height: 50px; /* Altura do botão */
  width: 160px; /* Largura do botão */
  font-weight: 600; /* Peso da fonte do botão */
  background-color: #f10404; /* Cor de fundo do botão */
  color: #ffff; /* Cor do texto do botão */
  border-radius: 5px; /* Cantos arredondados do botão */
  font-size: 12pt; /* Tamanho da fonte do botão */
}

button:hover {
  background-color: #c40202; /* Cor do botão ao passar o mouse */
}

.links {
  display: flex;
  justify-content: space-between; /* Espaço entre os links */
}

a {
  color: #007bff; /* Cor dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
}

a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.back-button {
  background-color: #f10404;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 14pt;
}
.back-button:hover {
  background-color: #c40202;
}

@media (max-width: 600px) {
  .form {
    max-width: 98vw;
    padding: 10px;
  }
  input {
    max-width: 100vw;
    font-size: 1em;
  }
  button, .back-button {
    max-width: 100vw;
    font-size: 1em;
  }
}

.back-button:hover {
  background-color: #c40202; 
}

