.sidebar {
  width: 180px;
  min-height: 100vh;
  /* background controlado via React inline style */
  color: var(--color);
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1.2em;
}

.sidebar a {
  color: var(--color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.2s;
}

.sidebar li.active a,
.sidebar a:hover {
  color: var(--primary);
}

@media (max-width: 700px) {
  .sidebar {
    position: static;
    width: 100%;
    min-height: unset;
    flex-direction: row;
    padding: 0.5em 0;
    justify-content: space-around;
  }
  .sidebar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .sidebar li {
    margin-bottom: 0;
  }
}
