.user-management {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  
}

.back-button {
  margin-bottom: 5em;
  height: 40px;
  width: 115px;
  font-weight: 600;
  background-color: #f10404;
  color: #ffff;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #d30202;
}

.create-user-container {
  padding: 20px;
  border-bottom: 5px solid #272727;
  margin: 10px 10px 0px 0;
  text-align: center;
  justify-content: center;
  background-color: #3d3d3d;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.create-user-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-user-container form input[type="text"], [type="email"], [type="password"]{
  display: block;
  margin: 10px ;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.user-list-container section {
  display: flex;
  flex-direction: column; /* Organiza os usuários em coluna */
}

.user-list-container article {
  display: flex; /* Cria um contêiner flexível para cada usuário */
  width: 700px;
  justify-content: space-evenly; /* Distribui espaço igualmente entre os itens */
  align-items: center; /* Alinha os itens verticalmente */
  margin-bottom: 10px; /* Espaçamento entre os usuários */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Adiciona uma borda para destaque */
  border-radius: 5px; /* Bordas arredondadas */
}

.actions {
  display: flex; /* Cria um contêiner flexível para os botões */
  gap: 10px; /* Espaçamento entre os botões */
}

.actions button {
  padding: 5px 10px; /* Estilização dos botões */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.create-user-container h2, .user-list-container h2 {
  margin-bottom: 30px;
}

.create-user-container input[type="checkbox"],
.user-list-container input[type="checkbox"] {
  margin: 20px 20px 30px 20px;
  padding: 10px; /* Adiciona padding para todos os inputs */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
  width: 200px; /* Define uma largura padrão */
}

.create-user-container input[type="checkbox"],
.user-list-container input[type="checkbox"] {
  width: 20px; /* Define a largura do checkbox como automática */
  height: 20px; /* Ajusta a altura do checkbox */
}

.create-user-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-user-container button:hover {
  background-color: #45a049;
}

